# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
.*_cache/
*.py[cod]
*$py.class

# Tests
.pytest_cache/
.coverage

# Logs
logs/
.log

# JetBrains
.idea/

# other
project_copy.db
favorites.json
fixtures.json
movies.json
load_fixture_favorites.py
load_fixture_movies.py
load_fixtures.py
create_tables.py